@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

body{
    background: url(assets/img/background-8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
.secao{
    width: 600px;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.logo{
    width: 400px;
    height: 200px;
    margin: 20px 20px 20px 20px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 1);
}
.itens{
    width: 500px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    border-radius: 8px;
    padding: 5px;
    margin: 10px 10px 30px 10px;
}
.itens:hover{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    transition: 600ms;
    cursor: pointer;
    box-shadow: 0px 0px 15px white;
}
.itens:hover>p{
    color: white;
}
.imgProduto{
    width: 120px;
    height: 100px;
}
.descricao{
    font-family: 'League Gothic', sans-serif;
    font-size: 30px;
    text-align: center;
    color: rgb(0, 0, 0);
}
.valor{
    font-family: 'League Gothic', sans-serif;
    font-size: 40px;
    color: rgb(0, 0, 0);
}